# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend-react/node_modules/
frontend-react/.pnp
frontend-react/.pnp.js

# testing
frontend-react/coverage

# production
frontend-react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
backend/target

npm-debug.log*
yarn-debug.log*
yarn-error.log*
